*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Plain Light";
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 25vh 10vw;
    background-color: #0b0b0b;
}
.line{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    gap: 2vw;
}
.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line1-part1 h5, .line1-part1 h6{
    font-family: "Silk Serif";
    padding-bottom: 2.2vw;
    font-size: 3.25vw;
    font-weight: 100;
}
.line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.75vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5.25vw;
    font-family: 'Silk Serif';
    text-transform: uppercase;
    opacity: 0;
    font-weight: 900;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    45%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

.main{
    position: relative;
    background-color: black;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(21,20,20);
}